<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel</title>
</head>
<body>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>Cédula</th>
            <td> {{cedula}} </td>
        </tr>
        <tr>
            <th>Nombres</th>
            <td> {{nombre}} </td>
        </tr>
        <tr>
            <th>Apellidos</th>
            <td> {{apellido}} </td>
        </tr>
        <tr>
            <th>Cargo</th>
            <td> {{cargo}} </td>
        </tr>
        <tr>
            <th>Salario Base</th>
            <td>$ {{salario_base}} </td>
        </tr>
        <tr>
            <th>Bonificación por cargo</th>
            <td>$ {{bonificacion_cargo}} </td>
        </tr>
        <tr>
            <th>Horas Extras</th>
            <td> {{horas_extra}} </td>
        </tr>
        <tr>
            <th>Tipo de Hora Extra</th>
            <td>{{tipo_horas_extra}}</td>
        </tr>
        <tr>
            <th>Horas Extras Adicionales</th>
            <td> {{horas_extra_adicionales}} </td>
        </tr>
        <tr>
            <th>Tipo de Hora Extra Adicional</th>
            <td> {{tipo_horas_extra_adicional}} </td>
        </tr>
        <tr>
            <th>Valor total de horas extra</th>
            <td>$ {{valor_hora_extra}} </td>
        </tr>
        <tr>
            <th>Préstamo</th>
            <td>$ {{prestamo}}</td>
        </tr>
        <tr>
            <th>Cuotas</th>
            <td> {{cuotas}} </td>
        </tr>
        <tr>
            <th>Tasa de Interés Anual</th>
            <td> {{tasa_interes}} %</td>
        </tr>
        <tr>
            <th><strong>Salario Neto</strong></th>
            <td><strong>$ {{salario_neto}}</strong></td>
        </tr>
</table>
<a href="/">
  <button>Volver</button>
</a>



</body>
</html>